.box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  z-index: 1;
  background-color: rgba(37, 37, 91, 0.5);

  div {
    color: #fff;
    font-size: .4rem;
  }
}